/* Scss Document */

@font-face {
  font-family: 'Eveleth Clean Regular';
  src: url('../fonts/Yellow Design Studio - Eveleth Clean Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Yellow Design Studio - Eveleth Clean Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Yellow Design Studio - Eveleth Clean Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Yellow Design Studio - Eveleth Clean Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Yellow Design Studio - Eveleth Clean Regular.svg#f2c8a791757bdb5d5a7102cbeb599b7e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Eveleth Clean Thin';
  src: url('../fonts/Yellow Design Studio - Eveleth Clean Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Yellow Design Studio - Eveleth Clean Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Yellow Design Studio - Eveleth Clean Thin.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Yellow Design Studio - Eveleth Clean Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Yellow Design Studio - Eveleth Clean Thin.svg#a2d741f0132f9d79f9f06880bf20be40') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot'),
       url('../fonts/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot'),
       url('../fonts/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}

@import "compass/css3";
@import "variables";
@import "mixins";


body{
	background: $color-primary;
	font-family: ProximaNova-Regular, sans-serif;
	font-size: 14px;
	color: $text-color-gray;
	line-height: 22px;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
  }
  
  .scene-2-active {
	background: $color-tertiary;
  }
  
.container {
	margin-left: 30px;	
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-toggle {
	float: left;
	margin-top: 0px;
	margin-bottom: 12px;
	background: $color-secondary;
	width: 100%;
	height: 33px;
	border: none;
	border-radius:0px;
	position: relative;
	width: 166px;
	z-index: 55;
	padding: 0px;
	font-family: Eveleth Clean Regular, sans-serif;
	font-size: 14px;
	color: $color-primary;
	letter-spacing: 1px;
	line-height: 38px;
		p {
		  margin-top: -23px;
	  }
 }
 
 .navbar-toggle-fixed {
	float: left;
	margin-top: 0px;
	background: $color-secondary;
	width: 100%;
	height: 33px;
	border: none;
	border-radius:0px;
	position: fixed;
	width: 166px;
	z-index: 55;
	padding: 0px;
	left: 45px;
	right: 0px;
	top: 30px;
 }
 
 .navbar-default .navbar-toggle .icon-bar {
    background-color: $color-primary;
}
 
 .navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
	  margin-top: 9px;
	  margin-left: 6px;
}


.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

 .navbar {
	margin: 0; 
	min-height: 30px;
 }
 .dropdown-menu {
    display: none;
    background-clip: padding-box;
    position: relative;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    left: 0px;
    top: 100%;
	width: 100%;
	box-shadow: none;
	border-radius: 0px;
	border: none;
	margin-bottom: 15px
}

.dropdown-menu > li > a {
	white-space: normal !important;
}

.navmenu-default, .navbar-default .navbar-offcanvas {
    background-color: #4A4A4A;
    border-color: transparent;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 14px 15px 10px 15px;
    font-size: 16px;
	font-family: Eveleth Clean Regular, sans-serif;
}
.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: $light-3-color-white;
}
.glyphicon-plus {
	color: 	$dark-color-gray;
	float: right;
}

.dropdown, .dropup {
    border-bottom: 1px solid $dark-color-gray;
}
 
 .navmenu-default .navmenu-nav > li > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover, .navmenu-default .navmenu-nav > li > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: $color-white;
    background-color: transparent;
}

.navmenu, .navbar-offcanvas {
    width: 240px;
}
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: $color-secondary;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .navmenu-default {
	background-color: transparent;  
  }
  
  .navmenu-fixed-left {
    position: absolute;
    z-index: 0;
    overflow-y: auto;
    border-radius: 0;
	width: 166px;
	margin-left: 45px;
	margin-top: 135px;
}

  .navmenu-fixed {
    position: fixed;
    z-index: 1030;
    overflow-y: auto;
    border-radius: 0;
	width: 166px;
	margin-left: 45px;
	margin-top: 15px;
}
.nav > li > a {
	font-size: 14px;	
	padding: 8px 0 5px 0;
	letter-spacing: 0.31px;
	color:$color-white !important;
}
  .navmenu-brand, .navbar-toggle, .navbar {
    display: none;
}
.glyphicon-plus {
	color: $light-color-white;
}
.dropdown {
	border-bottom: 1px solid  $light-color-white;
	
}
.form-control-search {
	width: 128px !important;
	border: none;
	border-radius: 0;
	height: 33px;
}

.btn-default-search {
	width: 33px;
	background-color: $color-secondary;
	border: none;
	border-radius: 0;
	padding: 0;
	height: 33px;
	color: $color-primary;
	font-size: 22px;
	padding-left: 2px;
}
.form-inline {
	background: white;
}
}

/*opening page*/
.brand {
	font-family: Eveleth Clean Regular, sans-serif;
	font-size: 54px;
	color: $color-white;
	letter-spacing: 10px;
	line-height: 54px;
	margin-bottom: 0px;
	margin-top: 36px;
	margin-left: -2px;
}
.full-brand {
	position: fixed;
	width: 166px;
	bottom: 60px;
	left: 45px;
	right: 0px;

	 img {
		 margin-bottom: 15px;
		 margin-left: 30px;
	 }
	 
	 h4 {
		 	font-family: Eveleth Clean Thin, sans-serif;
			font-size: 16px;
			color: $color-primary;
			line-height: 28px;	
			background-color: $color-white; 
			@include stencil;
			padding-top: 6px;
				span {
					font-family: Eveleth Clean Regular, sans-serif;
				}
			}
	.small	{
			font-family: Eveleth Clean Thin, sans-serif;
			font-size: 11px;
			color: $color-primary;
			line-height: 16px;	
			background-color: $color-secondary; 
			@include stencil;
			box-shadow: 5px 0px 0px $color-secondary, -5px 0px 0px $color-secondary;
			padding-top: 4px;
	}
 }
.bg-illu {
	background-image:url(../images/poli-bg-illu.svg);
	background-repeat: repeat;
	margin-left:265px;
	margin-top: 10px;
	opacity: .2;
	z-index: 0;
	width: 100%;
	height:100%;
	position: fixed;
	
}
main, .container {
	z-index: 4;
	}
.white-box{
background-color: $light-2-color-white;
text-align: center;
	h1 {
		margin-top: 0;
		font-family: Eveleth Clean Thin, sans-serif;
		font-size: 28px;
		color: $color-primary;
		line-height: 54px;
		padding: 10px 0px 2px 0px;
		background-color: $color-secondary;
		display: inline;
		box-shadow: 20px 0px 0px $color-secondary, -20px 0px 0px $color-secondary;
		box-decoration-break: clone;
		
		span {
		font-family: Eveleth Clean Regular, sans-serif;
	}

	}
}

.margint-bottom-thirty {
	margin-bottom: 30px;	
}


/*	calendar-front*/

.naptar {
margin: 45px 0 60px 0;	
}
.calendar {
	width: 80%;
	margin: auto;
	 h4 {
	padding: 16px;
	background-color:  $color-secondary;
	border-radius: 15px 15px 0px 0px;
	color: white;
	font-size: 24px;
	margin: 0;
	margin-top:15px;
}
	h2 {
	border: 	$color-secondary solid 1px;
	margin: 0;
	padding:10px 0;
	font-size: 68px;
	border-radius: 0px 0px 15px 15px;
	margin-bottom: 30px;
}
 p {
	font-size: 20px;
	margin: 10px 0 0 0 ;
}
}

/*owl carusel*/
#main-carousel {
	border: solid $light-2-color-white 10px;
	margin-top:90px;
}

.owl-theme .owl-controls {
	position: absolute;
	top: 15px;
	left: 15px;
}

.owl-theme .owl-controls .owl-dots div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 3px;
	padding: 3px 5px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: $color-white;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	height: 12px;
	width: 12px;
}

/*social icons*/
.social-icons {
	text-align: center;	
}

.social-icons .fa {
	font-size: 1.5em;
}
.social-icons .fa {
	border-radius: 50%;
	border: 2px solid $light-color-white;	
	width: 37px;
	height: 37px;
	line-height: 33px;
	text-align: center;
	background: transparent;
	color: $light-color-white;
	&:hover{
	color: $color-white;
	}
}
.social-icons  .nav
li {
	display: inline-block;
	margin: 0px 2px;
a {
	padding: 0px;
&:hover  {
	background: transparent;
}
}
}